.searchDevelopRightItem{
  position: relative;
  margin-top: 58px;
  
  .fa-chevron-right{
    position: absolute;
    right:0;
  }
  .develop{
    margin:10px 0;
    font-size: 13px;
  }
  .moreView{
    font-size: 13px;
  }
}

